#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <13 14>;
        };

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <3 4>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
  &kp Q             &kp W  &kp E           &kp R           &kp T        &kp Y      &kp U          &kp I          &kp O   &kp P
  &kp A             &kp S  &kp D           &kp F           &kp G        &kp H      &kp J          &kp K          &kp L   &mo 2
  &kp LEFT_CONTROL  &kp Z  &kp X           &kp C           &kp V        &kp B      &kp N          &kp M          &trans  &trans
                           &lt 1 LEFT_WIN  &kp LEFT_SHIFT  &kp SPACE    &kp ENTER  &kp BACKSPACE  &kp RIGHT_ALT
            >;
        };

        layer_1 {
            bindings = <
  &mt F1 N1        &mt F2 NUMBER_2  &mt F3 NUMBER_3  &mt F4 NUMBER_4  &mt F5 N5     &trans  &trans      &kp UP            &trans      &kp C_VOL_UP
  &mt F6 NUMBER_6  &mt F7 N7        &mt F8 N8        &mt F9 N9        &mt F10 N0    &trans  &kp LEFT    &kp DOWN          &kp RIGHT   &kp C_VOL_DN
  &kp F11          &kp F12          &kp ESCAPE       &trans           &trans        &trans  &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &trans
                                    &trans           &trans           &trans        &trans  &trans      &trans
            >;
        };

        layer_2 {
            bindings = <
  &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)
  &kp MINUS     &kp EQUAL   &kp GRAVE      &kp LBKT      &kp RBKT         &kp COMMA      &kp SEMI      &kp SQT       &kp SLASH     &trans
  &trans        &trans      &trans         &kp BSLH      &trans           &trans         &kp PERIOD    &trans        &trans        &trans
                            &trans         &trans        &trans           &trans         &trans        &trans
            >;
        };
    };
};
