#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
  &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y     &kp U  &kp I      &kp O    &kp P
  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H     &kp J  &kp K      &kp L    &kp RSHFT
  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N     &kp M  &kp COMMA  &kp DOT  &kp CAPSLOCK
                &kp LGUI  &mo 2  &kp SPACE    &kp BSPC  &mo 1  &kp ENTER
            >;
        };

        numerics {
            bindings = <
  &kp F1     &kp F2  &kp F3    &kp F4      &kp F5     &kp F6   &kp F7  &kp F8    &kp F9  &kp F10
  &kp N1     &kp N2  &kp N3    &kp N4      &kp N5     &kp N6   &kp N7  &kp N8    &kp N9  &kp N0
  &kp LSHFT  &trans  &trans    &trans      &kp F11    &kp F12  &trans  &trans    &trans  &trans
                     &kp LALT  &kp ESCAPE  &trans     &trans   &trans  &kp RALT
            >;
        };

        specials {
            bindings = <
  &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)   &kp MINUS  &kp EQUAL
  &kp TAB       &trans      &kp LBKT       &kp LS(LBRC)  &kp LS(LPAR)     &kp LS(RPAR)   &kp LS(RBRC)  &kp RBKT       &kp SEMI   &kp SQT
  &kp LSHFT     &trans      &trans         &trans        &trans           &kp COMMA      &kp DOT       &kp FSLH       &kp BSLH   &trans
                            &trans         &trans        &trans           &mo 3          &kp ESCAPE    &kp RIGHT_ALT
            >;
        };

        controls {
            bindings = <
  &trans      &trans             &trans            &trans           &trans            &trans  &trans    &kp UP    &trans     &trans
  &kp C_NEXT  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &kp C_PREVIOUS    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans
  &kp LCTRL   &kp LSHFT          &trans            &trans           &trans            &trans  &trans    &trans    &trans     &trans
                                 &trans            &kp LALT         &trans            &trans  &trans    &trans
            >;
        };
    };
};
